
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Titljjjjje</title>
</head>
<body>
<ul class="people_list">
    {{#each o}}
        <li>{{this}}</li>
    {{/each}}
</ul>

<ul class="people_list">
    {{#each p}}
        <li>{{this}}</li>
    {{/each}}
</ul>
</body>
</html>