
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Titljjjjje</title>
</head>
<body>
<ul class="people_list">
    {{#each o}}
        <a href="#"><li>{{this}}</li></a>
    {{/each}}
</ul>

<ul class="people_list">
    {{#each p}}
        <a href="#">  <li>{{this}}</li></a>
    {{/each}}
</ul>
</body>
</html>